<!-- Home -->

	<div class="home">
		<div class="background_image main_image_home"></div>
		<div class="overlay"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">Contact</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact -->

	<div class="contact">
		<div class="container">
			<div class="row">

				<!-- Contact Content -->
				<div class="col-lg-4">
					<div class="contact_content">
						<div class="contact_logo">
							<div class="logo d-flex flex-row align-items-center justify-content-start"><%= image_tag "images/dot.png"%><div>Athean<span>bodies</span></div></div>
						</div>
						<div class="contact_text">
							<p></p>
						</div>
						<div class="contact_list">
							<ul>
								<li class="d-flex flex-row align-items-start justify-content-start">
									<div><div>P:</div></div>
									<div>1 (604)842-6868</div>
								</li>
								<li class="d-flex flex-row align-items-start justify-content-start">
									<div><div>M:</div></div>
									<div>pckathleanbodies@gmail.com</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Contact Form -->
				<div class="col-lg-8 contact_col">
					<div class="contact_title">Get in touch</div>
					<div class="contact_form_container">
						<%= form_with url: send_email_path, id: "contact_form", class: "contact_form" do |form| %>
							<div class="row">
								<div class="col-lg-6">
									<div class="input_item"><%= form.text_field :name, class: "contact_input trans_200", id: "contact_input trans_200", placeholder: "Name" %></div>
								</div>
								<div class="col-lg-6">
									<div class="input_item"><%= form.text_field :email, class: "contact_input trans_200", id: "contact_input trans_200", placeholder: "E-mail" %></div>
								</div>
							</div>
							<div class="input_item"><%= form.text_area :message, class: "contact_input contact_textarea trans_200", id: "contact_input trans_200", placeholder: "Message" %></div>
							<%= form.submit "Send", class: "contact_button button"%>
						<% end %>
					</div>
				</div>

			</div>
		</div>
	</div>

    <%= javascript_include_tag "js/jquery-3.2.1.min.js"%>
    <%= javascript_include_tag "styles/bootstrap-4.1.2/popper.js"%>
    <%= javascript_include_tag "styles/bootstrap-4.1.2/bootstrap.min.js"%>
    <%= javascript_include_tag "plugins/greensock/TweenMax.min.js"%>
    <%= javascript_include_tag "plugins/greensock/TimelineMax.min.js"%>
    <%= javascript_include_tag "plugins/scrollmagic/ScrollMagic.min.js"%>
    <%= javascript_include_tag "plugins/greensock/animation.gsap.min.js"%>
    <%= javascript_include_tag "plugins/greensock/ScrollToPlugin.min.js"%>
    <%= javascript_include_tag "plugins/easing/easing.js"%>
    <%= javascript_include_tag "plugins/parallax-js-master/parallax.min.js"%>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"%>
    <%= javascript_include_tag "js/contact.js"%>