<!-- Hamburger -->

	<!-- Home -->

	<div class="home">
		<div class="background_image main_image_home" ></div>
		<div class="overlay"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content text-center">
							<div class="video_link">
								<%= link_to blog_path do%>
									<div class="video_link_content d-flex flex-row align-items-center justify-content-start">
										<div class="video_icon d-flex flex-column align-items-center justify-content-center"><i class="fa fa-play" aria-hidden="true"></i></div>
										<span class="video_text">See Workout Video</span>
									</div>
								<% end %>
							</div>
							<div class="home_title"><%= @title.content %></div>
							<div class="home_subtitle"><%= @subtitle.content %></div>
							<div class="button home_button ml-auto mr-auto"><%= link_to 'Contact Us', contact_path%></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Boxes -->

	<div class="boxes">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="boxes_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
						<!-- Box -->
						<% if @course_1 != nil%>
							<div class="box">
								<div class="box_title"><%= @course_1.name %></div>
								<div class="box_text">
									<p><%= @course_1.description %></p>
								</div>
								<div class="box_link_container">
									<%= link_to services_path do %><div class="box_link d-flex flex-column align-items-center justify-content-center trans_200"><div>+</div></div><% end %>
								</div>
							</div>
						<% end %>

						<!-- Box -->
						<% if @course_2 != nil%>
							<div class="box">
								<div class="box_title"><%=@course_2.name%></div>
								<div class="box_text">
									<p><%= @course_2.description %></p>
								</div>
								<div class="box_link_container">
									<%= link_to services_path do %><div class="box_link d-flex flex-column align-items-center justify-content-center trans_200"><div>+</div></div><% end %>
								</div>
							</div>
						<% end %>

						<!-- Box -->
						<% if @course_3 != nil%>
							<div class="box">
								<div class="box_title"><%= @course_3.name %></div>
								<div class="box_text">
									<p><%= @course_3.description %></p>
								</div>
								<div class="box_link_container">
									<%= link_to services_path do %><div class="box_link d-flex flex-column align-items-center justify-content-center trans_200"><div>+</div></div><% end %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- About -->

	<div class="about">
		<div class="container about_container">
			<div class="row">
				<div class="col-lg-6">
					<div class="about_content">
						<div class="section_title_container">
							<div class="section_subtitle">welcome to sportfit</div>
							<div class="section_title"><%= @about_main_text_title.content %></div>
						</div>
						<div class="text_highlight">Etiam commodo justo nec aliquam feugiat. Donec a leo eget eget augue porttitor sollicitudin augue porttitor sollicitudin.</div>
						<div class="about_text">
							<p><%= @about_main_text.content %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Testimonials -->

	<div class="testimonials">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="<%= asset_path 'WhatsApp Image 2019-02-23 at 11.56.10.jpeg'%>" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section_title_container">
						<div class="section_subtitle">welcome to athleanbodies</div>
						<div class="section_title">Testimonials</div>
					</div>

					<!-- Testimonial -->
					<div class="test test_1 d-flex flex-row align-items-start justify-content-start">
						<div class="test_content">
							<div class="test_name"><a><%= @testimonial_client_2.content %></a></div>
							<div class="test_title">client</div>
							<div class="test_text">
								<p><%= @testimonial_content_2.content %></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					
					<!-- Testimonial -->
					<div class="test d-flex flex-row align-items-start justify-content-start">
						<div class="test_content">
							<div class="test_name"><a><%= @testimonial_client_1.content %></a></div>
							<div class="test_title">client</div>
							<div class="test_text">
								<p><%= @testimonial_content_1.content %></p>
							</div>
						</div>
					</div>

					<!-- Testimonial -->
					<div class="test d-flex flex-row align-items-start justify-content-start">
						<div class="test_content">
							<div class="test_name"><a><%= @testimonial_client_3.content %></a></div>
							<div class="test_title">client</div>
							<div class="test_text">
								<p><%= @testimonial_content_3.content %></p>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="row test_button_row">
				<div class="col text-center">
				</div>
			</div>
		</div>
	</div>

	<!-- Gallery -->

	<div class="gallery">
		
		<!-- Gallery Slider -->
		<div class="gallery_slider_container">
			<div class="owl-carousel owl-theme gallery_slider">
				
				<!-- Slide -->
				<div class="owl-item"><%= image_tag "WhatsApp Image 2019-02-23 at 11.27.23.jpeg" %></div>

				<!-- Slide -->
				<div class="owl-item"><%= image_tag "WhatsApp Image 2019-02-23 at 11.27.35.jpeg" %></div>

				<!-- Slide -->
				<div class="owl-item"><%= image_tag "WhatsApp Image 2019-02-23 at 11.26.31.jpeg" %></div>

				<!-- Slide -->
				<div class="owl-item"><%= image_tag "WhatsApp Image 2019-02-23 at 11.26.39.jpeg" %></div>

				<!-- Slide -->
				<div class="owl-item"><%= image_tag "WhatsApp Image 2019-02-23 at 11.26.25.jpeg" %></div>

			</div>
		</div>
	</div>




	<%= javascript_include_tag "js/jquery-3.2.1.min.js"%>
	<%= javascript_include_tag "styles/bootstrap-4.1.2/popper.js"%>
	<%= javascript_include_tag "styles/bootstrap-4.1.2/bootstrap.min.js"%>
	<%= javascript_include_tag "plugins/greensock/TweenMax.min.js"%>
	<%= javascript_include_tag "plugins/greensock/TimelineMax.min.js"%>
	<%= javascript_include_tag "plugins/scrollmagic/ScrollMagic.min.js"%>
	<%= javascript_include_tag "plugins/greensock/animation.gsap.min.js"%>
	<%= javascript_include_tag "plugins/greensock/ScrollToPlugin.min.js"%>
	<%= javascript_include_tag "plugins/OwlCarousel2-2.2.1/owl.carousel.js"%>
	<%= javascript_include_tag "plugins/easing/easing.js"%>
	<%= javascript_include_tag "plugins/progressbar/progressbar.min.js"%>
	<%= javascript_include_tag "plugins/parallax-js-master/parallax.min.js"%>
	<%= javascript_include_tag "plugins/colorbox/jquery.colorbox-min.js"%>
	<%= javascript_include_tag "js/custom.js"%>