<!DOCTYPE html>
<html>
  <head>
    <title>Athleanbodies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <%= stylesheet_link_tag "assets/vendor/fonts/circular-std/style.css", rel: "stylesheet"%>
    <%= stylesheet_link_tag "assets/libs/css/style.css", rel: "stylesheet" %>
    <%= stylesheet_link_tag "assets/vendor/fonts/fontawesome/css/fontawesome-all.css", rel: "stylesheet" %>
    <%= stylesheet_link_tag "assets/vendor/charts/chartist-bundle/chartist.css", rel: "stylesheet" %>
    <%= stylesheet_link_tag "assets/vendor/charts/morris-bundle/morris.css", rel: "stylesheet" %>
    <%= stylesheet_link_tag "assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css", rel: "stylesheet" %>
    <%= stylesheet_link_tag "assets/vendor/charts/c3charts/c3.css", rel: "stylesheet" %>
    <%= stylesheet_link_tag "assets/vendor/fonts/flag-icon-css/flag-icon.min.css", rel: "stylesheet" %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "styles/bootstrap-4.1.2/bootstrap.min.css" %>
  </head>
  <body>
    <div class="dashboard-main-wrapper">
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand">Athleanbodies admin dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= image_tag "", class: "user-avatar-md rounded-circle"%></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">Patricia Kelly</h5>
                                </div>
                                <%= link_to root_path, class: "dropdown-item" do %>
                                    <i class="fas fa-home mr-2"></i>Return to website
                                <% end %>
                                <%= link_to admin_session_destroy_path, class: "dropdown-item", method: "delete" do %>
                                    <i class="fas fa-power-off mr-2"></i>Logout
                                <% end %>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <%= link_to dashboard_path, class: "nav-link" do %>
                                    <i class="fas fa-home"></i>Home
                                <% end %>
                                <%= link_to edit_text_path, class: "nav-link"  do %>
                                    <i class="fa fa-pencil"></i>Edit home texts
                                <%end%>
                                <%= link_to videos_path(page: 1), class: "nav-link"  do %>
                                    <i class="fa fa-youtube-play"></i>Videos
                                <%end%>
                                <%= link_to courses_path, class: "nav-link"  do %>
                                    <i class="fas fa-book"></i>Courses
                                <%end%>
                                <%= link_to agenda_path, class: "nav-link"  do %>
                                    <i class="fas fa-calendar-minus"></i>Agenda
                                <%end%>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <div class="dashboard-wrapper">
            <%= yield %>
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
        </div>
    </div>
  </body>
</html>
